{% extends "base.html" %} {% block hide_carousel %} {% endblock %} {% block
hide_advantages %} {% endblock %} {% block main %}
<section class="featured-products">
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title">
                    <span style="padding-left: 1rem"> Your likes </span>
                </h2>
            </div>
        </div>
        <div class="row">
            {% for product in user_favorites %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="/product"
                            ><img src="{{ product.image_url }}" alt=""
                        /></a>
                    </div>
                    <div class="product-details">
                        <h4>
                            <a href="/product">{{ product.name }}</a>
                        </h4>
                        <p class="product-excerpt">{{ product.description }}</p>

                        <div class="product-sizes">
                            {% for size in product.sizes %}
                            <div
                                class="product-size {% if not size.available %}unavailable{% endif %}"
                            >
                                {{ size.size }}
                            </div>
                            {% endfor %}
                        </div>

                        <div
                            class="product-bottom-details d-flex justify-content-between"
                        >
                            <div class="product-price">
                                ${{ product.price }}
                            </div>
                            <div class="product-card">
                                <div class="product-links">
                                    <form
                                        action="{{ url_for('views.remove_from_favorites') }}"
                                        method="POST"
                                    >
                                        <input
                                            type="hidden"
                                            name="product_id"
                                            value="{{ product.id }}"
                                        />
                                        <button
                                            type="submit"
                                            class="btn btn-outline-danger remove_from_favorites"
                                        >
                                            <i
                                                class="fa fa-times"
                                                aria-hidden="true"
                                            ></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="product-card">
                                <div class="product-links">
                                    <a
                                        href="/add-to-cart?product_id={{ product.id }}"
                                        class="btn btn-outline-success add-to-cart"
                                        ><i class="fas fa-shopping-cart"></i
                                    ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
