{% extends "base.html" %} 

{% block main %}

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }

    .form-wrapper {
        max-width: 300px; /* Устанавливаем максимальную ширину формы */
        padding: 50px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .button-wrapper {
        text-align: center;
    }
</style>

<div class="container">
    <div class="form-wrapper">
        <form method="POST">
            <h3 align="center">Login</h3>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter email"
                />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Enter password"
                />
            </div>
            <div class="button-wrapper">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>
<br>
{% endblock %}
{% block hide_main %}
{% endblock %}