{% extends "base.html" %} {% block hide_carousel %} {% endblock %} {% block
hide_advantages %} {% endblock %} {% block main %} <br />
<section class="featured-products">
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title">
                    <span style="padding-left: 1rem"
                        >Page not found! Go back to the
                        <a href="{{ url_for('views.home') }}">main page</a
                        >.</span
                    >
                </h2>
            </div>
        </div>
    </div>
</section>
{% block footer %} {% endblock %} {% endblock %}
