{% extends "base.html" %} {% block hide_carousel %} {% endblock %} {% block
hide_advantages %} {% endblock %} {% block main %}
<section class="featured-products">
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title">
                    {% if category %}
                    <span style="padding-left: 1rem">{{category}}</span>
                    {% else %}
                    <span style="padding-left: 1rem">All our products</span>
                    {% endif %}
                </h2>
            </div>
        </div>
        <div id="flash-modal" class="flash-modal">
            <div class="flash-modal-content">
                <span class="flash-modal-message"></span>

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %} {% for category, message in messages %} {% if
                category == 'error' %}
                <div
                    class="alert alert-danger alter-dismissable fade show"
                    role="alert"
                >
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                {% else %}
                <div
                    class="alert alert-info alter-dismissable fade show"
                    role="alert"
                >
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                {% endif %} {% endfor %} {% endif %} {% endwith %}
            </div>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="/product"
                            ><img src="{{ product.image_url }}" alt=""
                        /></a>
                    </div>
                    <div class="product-details">
                        <h4>
                            <a href="/product">{{ product.name }}</a>
                        </h4>
                        <p class="product-excerpt">{{ product.description }}</p>

                        <form action="/add_to_cart" method="post">
                            <input
                                type="hidden"
                                name="product_id"
                                value="{{ product.id }}"
                            />
                            <div class="product-sizes">
                                {% for size in product.sizes %} {% if
                                size.available %}
                                <button
                                    type="submit"
                                    class="product-size"
                                    name="size_id"
                                    value="{{ size.id }}"
                                >
                                    {{ size.size }}
                                </button>
                                {% else %}
                                <div class="product-size unavailable">
                                    {{ size.size }}
                                </div>
                                {% endif %} {% endfor %}
                            </div>
                        </form>

                        <div
                            class="product-bottom-details d-flex justify-content-between"
                        >
                            <div class="product-price">
                                ${{ product.price }}
                            </div>
                            <div class="product-links">
                                <form
                                    action="{{ url_for('views.add_to_favorites') }}"
                                    method="POST"
                                >
                                    <input
                                        type="hidden"
                                        name="product_id"
                                        value="{{ product.id }}"
                                    />
                                    <button
                                        type="submit"
                                        class="btn btn-outline-danger add-to-favorites"
                                    >
                                        <i class="fa-solid fa-heart"></i>
                                        LIKE
                                    </button>
                                </form>
                            </div>
                            <div class="product-links">
                                <form
                                    action="{{ url_for('views.add_to_cart') }}"
                                    method="POST"
                                >
                                    <input
                                        type="hidden"
                                        name="product_id"
                                        value="{{ product.id }}"
                                    />
                                    <input
                                        type="hidden"
                                        name="size_id"
                                        id="selected-size"
                                        value=""
                                        required
                                    />
                                    <button
                                        type="submit"
                                        class="btn btn-outline-success add-to-cart"
                                    >
                                        <i class="fas fa-shopping-cart"></i>
                                        BUY
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
